.navbar-brand {
  font-size: 30px; }

.navbar {
  border-bottom: #000000 3px solid;
  opacity: 0.8; }

#home-section {
  background: #008ed6;
  min-height: 700px;
  background-size: cover; }

#home-section .container {
  min-height: 700px;
  background: #fff;
  border-radius: 10px; }
  #home-section .container h1 {
    font-family: monospace;
    text-decoration-style: solid;
    font-style: oblique;
    text-align: center; }

.textbox {
  float: right;
  font-size: 24px; }

/* Dropdown Button */
.dropbtn {
  background-color: #008ed6;
  color: white;
  padding: 8px;
  font-size: 16px;
  width: 300px;
  text-align: left;
  border-radius: 10px;
  cursor: pointer; }
  .dropbtn i {
    float: right; }

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  color: #000000;
  border-bottom: #000000 3px solid; }
  .dropbtn:hover i, .dropbtn:focus i {
    color: #000000; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float: left; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

#myDropdown2 {
  position: relative; }

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  border-bottom: #000000 1px solid;
  background-color: #ddd; }

#convertBtn {
  background-color: #008ed6;
  color: white;
  padding: 8px;
  font-size: 16px;
  width: 300px;
  border-radius: 10px;
  cursor: pointer; }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block; }

@media only screen and (max-width: 1000px) {
  .container {
    text-align: center;
    height: inherit; }
  .dropbtn {
    width: 200px; }
  .dropdown {
    float: inherit; }
  .textbox {
    float: inherit;
    font-size: 16px; }
  .dropdown-content {
    min-width: 200px; }
  #convertBtn {
    width: 200px; } }
